<%= form_with url: order_items_path,class: "form-horizontal" do |item| %>

<div class="form-group row">
  <%= item.label 'product',nil,class: "col-lg-3 col-form-label form-control-label" %>
  <div class="col-lg-9">
    <%= item.collection_select(:product_id, Product.all, :id, :name) %>
  </div>
</div>
<div class="form-group row">
 <%= item.label "quantity",nil,class: "col-lg-3 col-form-label form-control-label" %>
 <div class="col-lg-6">   
  <%= hidden_field_tag :view,'new' %>
   <%= item.number_field :quantity,class: "form-control" %>
 </div>
 <%= item.submit 'Add to Cart', class: "btn btn-secondary" %>
</div>
<% end %>
